---
import Logo from "../Logo/Logo.astro";
---

<footer class="footer">
    <div class="container container__footer">
        <Logo />
        <ul class="menu__footer">
            <li>
                <a href="/" class="menu__footer__link">About us</a>
            </li>
            <li>
                <a href="/" class="menu__footer__link">Portfolio</a>
            </li>
            <li>
                <a href="/" class="menu__footer__link">Team</a>
            </li>
            <li>
                <a href="/" class="menu__footer__link">Blog</a>
            </li>
            <li>
                <a href="/" class="menu__footer__link">Contact us</a>
            </li>
        </ul>
        <address class="adress__footer">
            <ul class="adress-list">
                <li>
                    <a href="" class="adress"
                        >2307 Beverley Rd Brooklyn, New York 11226 USA</a
                    >
                </li>
                <li>
                    <a href="tel: (002)01061245741" class="adress"
                        >(002) 01061245741</a
                    >
                </li>
            </ul>
        </address>
        <div class="author__namne">
            © 2024 Rafting - WordPress Theme by Heaven WP
        </div>
    </div>
</footer>
