---
import "./enjoying.css";
---

<section
    class="enjoynig"
    style="background-image:url('/framework-Astro-/images/man_scooter.webp');"
>
    <div class="container enjoying__inner">
        <h2 class="title">Enjoying the ride</h2>
        <p class="text_title">The Future of Electric Scooters</p>
        <!-- <div class="text__content"></div> -->
        <ul class="enjoy__list">
            <li>
                <div class="enjoy__card">
                    <div class="container-svg">
                        <img
                            src="/framework-Astro-/images/icon-bike.svg"
                            alt="bike"
                        />
                    </div>
                    <h3 class="card__title text-center">Find a bike</h3>
                    <div class="text__content text-center card__text">
                        <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="enjoy__card--white">
                    <div class="container-svg">
                        <img
                            src="/framework-Astro-/images/icon-helmet.svg"
                            alt="helmet"
                        />
                    </div>
                    <h3 class="card__title text-center">Put a helmet</h3>
                    <div class="text__content text-center card__text">
                        <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="enjoy__card">
                    <div class="container-svg">
                        <img
                            src="/framework-Astro-/images/icon-park.svg"
                            alt="park"
                        />
                    </div>
                    <h3 class="card__title text-center">Park & Lock</h3>
                    <div class="text__content text-center card__text">
                        <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
