---
import "./scooter.css";
---

<section class="scooter">
    <div class="container scooter__inner">
        <div class="scooter-grid">
            <div class="sidebar">
                <div class="scooter-card"></div>
            </div>
        </div>
    </div>
</section>
