---
import "./scooter.css";
---

<section class="scooter">
    <div class="container scooter__inner">
        <ul class="scooter-list">
            <!-- Елемент списку: заднє колесо -->
            <li class="scooter-item">
                <div class="scooter-card">
                    <img
                        src="/framework-Astro-/images/back-tire.webp"
                        alt="Back tire of the scooter"
                        width="70"
                        height="70"
                    />
                    <h3 class="scooter-title">Back tire</h3>
                    <div class="scooter-text">
                        Lorem Ipsum proin gravida nibh velter auctor.
                    </div>
                </div>
            </li>

            <!-- Елемент списку: ручка -->
            <li class="scooter-item">
                <div class="scooter-card">
                    <img
                        src="/framework-Astro-/images/handle.webp"
                        alt="Handle of the scooter"
                        width="70"
                        height="70"
                    />
                    <h3 class="scooter-title">Handle</h3>
                    <div class="scooter-text">
                        Lorem Ipsum proin gravida nibh velter auctor.
                    </div>
                </div>
            </li>

            <li class="scooter-item">
                <div class="scooter-card scooter-image">
                    <img
                        src="/framework-Astro-/images/large-bike.webp"
                        alt="Large image of the scooter"
                        height="440"
                        width="468"
                        loading="lazy"
                        class="scooter-large"
                    />
                </div>
            </li>

            <!-- Елемент списку: дека -->
            <li class="scooter-item">
                <div class="scooter-card">
                    <img
                        src="/framework-Astro-/images/desk.webp"
                        alt="Deck of the scooter"
                        width="70"
                        height="70"
                    />
                    <h3 class="scooter-title">Deck</h3>
                    <div class="scooter-text">
                        Lorem Ipsum proin gravida nibh velter auctor.
                    </div>
                </div>
            </li>

            <!-- Елемент списку: переднє колесо -->
            <li class="scooter-item">
                <div class="scooter-card">
                    <img
                        src="/framework-Astro-/images/front-tire.webp"
                        alt="Front tire of the scooter"
                        width="70"
                        height="70"
                    />
                    <h3 class="scooter-title">Front tire</h3>
                    <div class="scooter-text">
                        Lorem Ipsum proin gravida nibh velter auctor.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
