---
import "./hero.css";
---

<section class="hero" style="background-image:url('./images/hero.webp');">
    <div class="container hero__inner">
        <div class="hero__content">
            <h1 class="hero__title">Kik's Scooter</h1>
            <div class="hero__text">
                <p>
                    Designed in a minimal yet versatile form to solve the
                    current safety and usability problems.
                </p>
            </div>
        </div>
    </div>
</section>
