---
import Amazing from "../components/Home/Amazing/Amazing.astro";
import Enjoying from "../components/Home/Enjoying/Enjoying.astro";
import Frontier from "../components/Home/Frontier/Frontier.astro";
import Hero from "../components/Home/Hero/Hero.astro";
import Scooter from "../components/Home/Scooter/Scooter.astro";
import Layout from "../layouts/Layout.astro";

import "./../style.css";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Amazing />
		<Frontier />
		<Enjoying />
		<Scooter />
	</main>
</Layout>
