---
import "./amazing.css";
---

<section class="amazing">
    <div class="container amazing__inner">
        <div class="amazing__intro">
            <h2 class="amazing__title">Amazing Look's</h2>
            <div class="amazing__text">
                <p>
                    It is a long established fact that a reader be distracted by
                    the readable content of a when looking at its layout.
                </p>
            </div>
            <div class="amazing__images">
                <img
                    src="/framework-Astro-/images/image_1.webp"
                    alt="Images Scooter 1"
                    width="130"
                    height="130"
                    loading="lazy"
                />
                <img
                    src="/framework-Astro-/images/image_2.webp"
                    alt="Images Scooter 2"
                    width="130"
                    height="130"
                    loading="lazy"
                />
            </div>
        </div>
        <img
            src="/framework-Astro-/images/image_3.webp"
            alt="scooter picture"
            height="430"
            width="490"
            loading="lazy"
        />
        <img
            src="/framework-Astro-/images/image_4.webp"
            alt="scooter picture"
            height="430"
            width="490"
            loading="lazy"
        />
    </div>
</section>
